@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

/* Global CSS reset is good practice */
body,
html {
  margin: 0;
  padding: 0;
  /* Use the font family globally */
  font-family: "Roboto Condensed", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

a.navLink.active {
  @apply underline decoration-orange-500 decoration-3 underline-offset-6;
}
a.navLink:hover {
  @apply text-orange-500;
  background-color: none;
}
